* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background: rgb(255, 140, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 140, 0, 1) 0%,
    rgba(135, 206, 235, 1) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font: 1em sans-serif;
  color: #323232;
}

button {
  padding: 0;
  flex-shrink: 0;
  flex-basis: 1.5rem;
  cursor: pointer;
  text-align: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  color: #323232;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1vw;
  padding-top: 2.4rem;
  padding-bottom: 2.1rem;
}

header div#list-select-dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  order: 1;
  flex-basis: 1.75rem;
  margin-left: 5%;
  margin-right: 0.5vw;
  width: 1.75rem;
  height: 1.75rem;
}

header button#list-select-button {
  width: 1.75rem;
  height: 1.75rem;
  border: 2px outset #323232;
  border-radius: 0.25rem;
  background: url(images/bars-solid.svg) no-repeat;
  background-color: white;
  background-size: 50%;
  background-position: 50%;
}

header div#list-select-content {
  display: none;
  position: fixed;
  margin-top: 0.4rem;
  background-color: rgb(50, 50, 50, 0.8);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  overflow: auto;
  text-align: center;
  border: 2px outset #323232;
  border-radius: 0.25rem;
  color: white;
  -webkit-user-select: none;
  user-select: none;
}

header div#list-select-content.visible {
  display: block;
}

header div#list-select-content button#add-list-button {
  margin: 1rem;
  border: 2px outset #323232;
  border-radius: 0.25rem;
  background: url(images/plus-solid.svg) no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: 50%;
}

header div#list-select-content span {
  display: inline-block;
  line-height: 1.2;
  padding: 0.8rem;
}

header div#list-select-content span:hover {
  font-weight: bold;
  cursor: pointer;
}

header div#list-select-content hr {
  margin: auto;
  width: 90%;
  border: 1px solid white;
  border-radius: 0.5rem;
}

header h1 {
  order: 2;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px;
}

header span.edit-input-box {
  order: 2;
  padding-left: 0.1rem;
  padding-right: 0.5rem;
  flex-basis: 1;
  font-family: inherit;
  font-size: 2em;
  font-weight: bold;
  border: 2px solid #323232;
}

header span.edit-input-box:focus {
  outline: 0.1rem solid #323232;
}

header button#edit-button-header {
  order: 3;
  align-self: center;
  border: 2px outset #323232;
}

header button#remove-button-header {
  order: 4;
  margin-right: 5%;
  align-self: center;
  border: 2px outset #323232;
}

header button#discard-edit-button-header {
  order: 4;
  margin-right: 5%;
  border: 2px solid #323232;
  background: url(images/xmark-solid.svg) no-repeat;
  background-color: white;
  background-size: 50%;
  background-position: 50%;
}

header button#save-edit-button-header {
  order: 3;
  border: 2px solid #323232;
  background: url(images/check-solid.svg) no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: 50%;
}

main {
  display: grid;
}

form {
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: start;
  margin-bottom: 2rem;
  margin-left: 5%;
  margin-right: 5%;
}

form label {
  display: none;
}

form input#text-to-add {
  flex-grow: 1;
  height: 2rem;
  padding-left: 5px;
  border: 2px outset #323232;
  border-radius: 0.25rem;
}

form input#text-to-add:focus {
  outline: none;
}

form input#form-button {
  flex-basis: 2.33rem;
  padding: 0;
  width: 2.33rem;
  height: 2.33rem;
  border-radius: 50%;
  border: 3px outset #323232;
  cursor: pointer;
  background: url(images/arrow-down-solid.svg) no-repeat;
  background-color: white;
  background-size: 40%;
  background-position: 50%;
}

ul#list {
  margin: 5%;
  margin-top: 0;
  padding-left: 0;
  list-style-position: inside;
  list-style-type: none;
}

li {
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: start;
  padding: 0.8rem;
  margin-bottom: 2.5vh;
  background-color: #323232;
  color: white;
  word-wrap: break-word;
  border-radius: 0.25rem;
  background-color: rgb(50, 50, 50, 0.8);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

li div {
  flex-grow: 1;
}

li span.edit-input-box {
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  flex-basis: 1;
  font-family: inherit;
  border-radius: 0.25rem;
  background-color: white;
  color: #323232;
}

li span.edit-input-box:focus {
  outline: 0.2rem solid #ddd0c8;
}

button.remove {
  align-self: self-start;
  border: 2px outset #ddd0c8;
  background: url(images/trash-can-solid.svg) no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: 50%;
}

button.edit {
  align-self: self-start;
  border: 2px solid #ddd0c8;
  background: url(images/pen-to-square-solid.svg) no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: 50%;
}

button.discard-edit {
  align-self: center;
  border: 2px solid #ddd0c8;
  background: url(images/xmark-solid.svg) no-repeat;
  background-color: white;
  background-size: 50%;
  background-position: 50%;
}

button.save-edit {
  align-self: center;
  margin-left: 0.5vw;
  border: 2px solid #ddd0c8;
  background: url(images/check-solid.svg) no-repeat;
  background-color: white;
  background-size: 60%;
  background-position: 50%;
}

@media (max-width: 640px) {
  header {
    gap: 1.5vw;
    padding-top: 1.8rem;
    padding-bottom: 1.5rem;
    font-size: 0.8rem;
  }

  form {
    margin-bottom: 1.5rem;
  }
}
