* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #DDD0C8;
  font: 1em sans-serif;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header span {
  padding-left: 0.1rem;
  padding-right: 0.5rem;
  flex-basis: 1;
  font-family: inherit;
  background-color: white;
  color: black;
}

header span:focus {
  outline: 0.2rem solid #323232;
}

button#edit-button-header {
  align-self: center;
  border: 2px outset #323232;
}

button#discard-edit-button-header {
  border: 2px solid #323232;
}

button#save-edit-button-header {
  border: 2px solid #323232;
}

main {
  display: grid;
}

form {
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: start;
  margin-bottom: 2.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

form label {
  display: none;
}

form input#text-to-add {
  flex-grow: 1;
  height: 2rem;
  padding-left: 5px;
  border: 2px outset #323232;
  border-radius: 0.25rem;
}

form input#text-to-add:focus {
  outline: none;
}

form input#form-button {
  flex-basis: 2.33rem;
  padding: 0;
  width: 2.33rem;
  height: 2.33rem;
  border-radius: 50%;
  border: 2px outset #323232;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  background-color: white;
  color: black;
}

ul#list {
  margin: 5%;
  margin-top: 0;
  padding-left: 0;
  list-style-position: inside;
  list-style-type: none;
}

li {
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: start;
  padding: 0.8rem;
  margin-bottom: 2.5vh;
  background-color: #323232;
  color: white;
  word-wrap: break-word;
  border-radius: 0.25rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

li div {
  flex-grow: 1;
}

li span {
  padding-left: 0.1rem;
  padding-right: 0.5rem;
  flex-basis: 1;
  font-family: inherit;
  background-color: white;
  color: black;
}

li span:focus {
  outline: 0.2rem solid #DDD0C8;
}

button {
  padding: 0;
  flex-shrink: 0;
  flex-basis: 1.5rem;
  align-self: self-start;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  color: black;
}

button.remove {
  border: 2px outset #DDD0C8;
}

button.edit {
  border: 2px solid #DDD0C8;
}

button.discard-edit {
  border: 2px solid #DDD0C8;
  align-self: center;
}

button.save-edit {
  margin-left: 0.5vw;
  border: 2px solid #DDD0C8;
  align-self: center;
}

@media (max-width: 640px) {
  header {
    padding-top: 1.8rem;
    padding-bottom: 1.5rem;
  }

  form {
    margin-bottom: 1.5rem;
  }
}